body {
	background-image: url(../images/ice.jpg);
    color: #106095;
    margin: 0;
}

.h1,h2,p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.nav_background {
    background-color: #106095;
    padding-bottom: 5px;
}

.subtext {
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_text {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_text {
    color: #FFF;
}

.disclamer {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.fancy {
	font-family: lobster, Helvetica, sans-seriff;
}
.strong {
	color:#50a730;
}
a:hover {
	font-size: 150%;
}